.rst-content code.literal {
    color: #000000 !important;
}

#traceable-components code.xref.py.literal .pre {
    text-decoration: line-through;
}

#traceable-components a.reference.internal code.xref.py.literal .pre {
    text-decoration: none !important;
}

i.rp-encyclopedia{
    color: crimson;
}